.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  margin-bottom: 80px;
}

.login-background {
  /*background: url('../images/background3.png');*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #DDD;
  /*filter: blur(50px);*/
  z-index: -1;
  position: absolute;
  /*opacity: 0.1;*/
}

.screen-size {
  width: 100vw;
  height: 100vh;
}

.login-title {
  height: 130px;
  background-color: #00BCD4;
  color: white;
  text-align: center;
  padding-top: 70px;
  font-size: 200%;
}

.login-text {
  height: auto;
  width: 400px;
  padding: 40px;
  text-align: 'center';
}
